
.boutonDeMenu {
    position: relative;
    width: 110px;
    left: 1730px;
    bottom: 165px;
    z-index: 2;
}
.bouton-menu {
    border-width: 0px;
    background-color: transparent;
    padding: 55px;
    border-radius: 100px;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
    cursor: pointer;
    z-index: 2;

}
.bouton-menu:hover {
    opacity: 0.5;
}
#replay {
    background-image: url('/utiles/bouton_Restart.png')
}
#maison {
    background-image: url('/utiles/bouton_home.png');
}
.image-container {
    text-align: center; 
    position: relative;
    bottom: 500px;
    z-index: 1;
}

.pendu-image {
    max-width: 100%; 
    height: 505px; 
    display: block; 
    margin: 0 auto; 
    padding: 75px;
    z-index: 1;
}
